# secret
.env

# data
service/rabbitmq/data/
service/voicepeak/src/data/
service/openjtalk/src/data/
service/timing/src/data/
log/

# bin
bin/

# nodejs
node_modules/
yarn.lock
yarn-error.log
package-lock.json


